<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--School相关类声明-->
    <bean id="school" class="com.meng.spring.ba06.School">
        <property name="name" value="北京邮电大学"/>
        <property name="address" value="北京市朝阳区"/>
    </bean>

</beans>